{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <script src="{% static 'js/chunk-vendors.js' %}" defer></script>
    <script src="{% static 'js/app.js' %}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@0.4.0/dist/confetti.browser.min.js"></script>
    {% block meta %}{% endblock %}
    <title>{% block title %}decidOR{% endblock %}</title>

</head>
<header class='base-head' role="banner">
    <nav class='banner-container' role="navigation">
        <div class="logo"></div>
        <a class='ghost'>Info</a>
        <a class='fill' href="{% url 'decks' %}">Decks</a>
    </nav>
</header>

<body>
    <!-- {% if request.user.is_authenticated %}
        <h2 class='hi-dawn'>Welcome, {{request.user}}!</h2>
    {% endif %} -->
    {% block content %}
    {% endblock %}
</body>
<footer role="contentinfo"></footer>

</html>