@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
$lg: linear-gradient(to right, #7796CB 0%, #A3BCF9 51%, #7796CB 100%);
$match: linear-gradient(to bottom right, #FA7268, #EA6084, #CB5B9D, #9E5EAD, #6461B1, #0061A8);
$blah: linear-gradient(to bottom right, #FA7267, #BC827B, #FFF6F4, #F3EED9);
$skip: linear-gradient(to bottom right, #FA7268, #FFBDEE, #FA86B6, #BF5081);
$br: radial-gradient(circle farthest-side,#83EAF1, #63A4FF);
$warmth: radial-gradient(circle farthest-side, #fceabb, #FFC371);
$btn: linear-gradient(to bottom, #2f7e97, #236087, #2b426f, #30002b);
$nav: linear-gradient(to bottom,rgb(51,35,80) 90%, rgba(51,35,80,0));
$lato: 'Lato', sans-serif;
$mon: 'Montserrat', sans-serif;
$bw: #e6f1f7;

* {
    box-sizing: border-box;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background: $br no-repeat center center fixed;
    background-size: cover;
    
}

.page-title {
    color: #fff;
    font-size: 3.5rem;
    text-align: center;
    letter-spacing: 0.5px;
    font-family: $mon;
    padding: 1em;
    // padding: .5em .5em 1em .5em;
    // text-shadow: 1px 1px 2px black;
    -webkit-filter: drop-shadow(8px 8px 8px #1979ff);
    filter: drop-shadow(8px 8px 8px #1979ff);
}

#how-decidor-works {
  min-width: 230px;
  // margin-right: 10%;
}

#decks-button {
  min-width: 150px;
}

.option-buttons {
    background: transparent;
    border: none;
}

.option-buttons:active {
  transform: translateY(8px);
}

.finalChoice {
    animation: jello 2s infinite;
    cursor: default;
    margin-left: 85%;
    text-align: center;

}


.deckButton {
    cursor: pointer;
    align-self: center;
    border: none;
    position: relative;
    z-index: 1;
    background: transparent;
    // width: 25%;
    display: block;
}

.deckButton:active {
  transform: translateY(8px);
}

.hiddenDick {
  display: none;
}

.deck-grid {
    // display: grid;
    // flex-wrap: wrap;
    // justify-content: center;
    // display: flex;
    // width: 75%;
    // flex-wrap: wrap;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    // align-self: stretch;
    grid-template-rows: auto;
    height: 80%;
    width: 80%;
    // justify-items: center;
    justify-content: center;
    grid-gap: 10%;
}

.deck-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.hiddenContainer {
  width: 0;
  height: 0;
  display: none;
}

.searchBar {
    margin: 15px;
    display: flex;
    justify-content: center;
    max-width: 80%;
    flex-wrap: wrap;
    flex-direction: column;
}

.searchPrompt {
  color: #fff;
  font-size: 2rem;
  letter-spacing: 1px;
  font-family: $mon;
  margin: 15px;
  text-align: center;
}

.input {
  border-radius: 10px;
  font-size: 2em;
  margin: 1em;
  min-width: 600px;
  border: none;
  max-width: 800px;
  filter: drop-shadow(8px 5px 5px #1979ff);
}

.searchButton {
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 40px;
  background-color: #fff;
  font-size: 1rem;
  // display: block;
  color: #63A4FF;
  font-family: $lato;
  width: 150px;
  padding: 8px;
  text-align: center;
  outline: none;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  // height: 45px;
  // align-items: center;
  align-self: center;
}

.locationButton {
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 40px;
  background-color: #fff;
  font-size: 1rem;
  // display: block;
  margin-top: 20px;
  color: #63A4FF;
  font-family: $lato;
  width: 300px;
  padding: 8px;
  text-align: center;
  outline: none;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  // height: 45px;
  // align-items: center;
  align-self: center;
}

.orLogo {
  max-width: 20%;
  align-self: center;
  margin-bottom: 25px;
}

.header-image {
    // background-size: contain;
    // height: cover;
    // width: 800px;
    // height: 800px;
    position: relative;
    margin: 0 auto;
    // z-index: 1;
    // background-image: var(--img-1);
    // background: transparent;
    // filter: brightness(95%);
    // -webkit-filter: brightness(60%);
}

.banner-container {
    // justify-content: center;
    // justify-content: space-around;
    width: 95%;
    // margin-top: 2%;
    // margin-left: 12.5%;
    display: flex;
    justify-content: space-between;
    // grid-template-rows: 50px;
    // grid-template-columns: repeat(3, 10%);
    // grid-template-columns: fit-content(40%);
    // grid-gap: 77px;
    // grid-template-areas:
    // "logo gbtn fbtn";
}

.base-head {
  // background: $nav;
  padding: 20px;
  display: flex;
  height: 110px;
  justify-content: center;
  // background-color: #a5beee;
}

.nav-buttons {
  display: flex;
  justify-content: center;
}


.deckTitle {
    padding-bottom: 8px;
    font-size: 1.1rem;
    z-index: 3;
    position: absolute;
    font-family: $lato;
    color: #fff;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.3);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
    align-self: flex-end;
}
.deckImage {
    filter: drop-shadow(8px 5px 5px #1979ff);
    // margin-top: 20%;
    max-height: 200px;
    max-width: 200px;
    // filter: blur(2.5px);
    // opacity: 0.80;
    outline: none;
    // border: 1px solid rgba(48,0,43,0.1);
    border-radius: 10px;
    z-index: 1;
    position: relative;
    // background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, 
    // rgba(0, 0, 0, 0.17) 36%, rgba(0, 0, 0, 0) 46%);
    // background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, 
    // rgba(0, 0, 0, 0.17) 36%, rgba(0, 0, 0, 0) 46%);
}

.overlay:before {
    content: '';
    z-index: 2;
    border-radius: 10px;
    // top: -45px;
    // top: -5%;
    top: -3px;
    // left: 0;
    // right: 0;
    // margin-left: 3%;
    width: 200px;
    height: 100%;
    position: absolute;
    display: inline-block;
    background: linear-gradient(0deg, rgba(7, 41, 89, 0.8) 0%, 
    rgba(7, 41, 89, 0.18) 36%, rgba(7, 41, 89, 0) 46%), 
    // box-shadow: 0 20px 30px rgba(0,0,0,0.2);
}

.container {
    &:nth-child(2) {
        grid-area: content;
    }
}

@keyframes bounce-in-right {
    to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    from {
      opacity: 0;
      transform: translate3d(1000px, 0, 0);
    }
  
    60% {
      opacity: 1;
      transform: translate3d(-25px, 0, 0);
    }
  
    75% {
      -webkit-transform: translate3d(10px, 0, 0);
      transform: translate3d(10px, 0, 0);
    }
  
    90% {
      transform: translate3d(-5px, 0, 0);
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  }

  .bounce-enter-active {
    animation: bounce-in-right 0.5s; 
 }

@keyframes fade-in-out {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

#header-img-container img:nth-of-type(1) {
  animation-delay: 6s;
}
#header-img-container img:nth-of-type(2) {
  animation-delay: 4s;
}
#header-img-container img:nth-of-type(3) {
  animation-delay: 2s;
}
#header-img-container img:nth-of-type(4) {
  animation-delay: 0;
}
// @keyframes fade-in-up {
//     from {
//       opacity: 0;
//       transform: translate3d(0, 100%, 0);
//     }
  
//     to {
//       opacity: 1;
//       transform: translate3d(0, 0, 0);
//     }
//   }
  
//   .fade-enter-active {
//     animation-name: fade-in-up;
//   }
.ghost {
  min-height: 1.5rem;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: 1.3rem;
  display: block;
  font-family: $lato;
  // width: 150px;
  align-self: center;
  padding: 8px;
  margin-right: 5%;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 40px;
  text-align: center;
  outline: none;
  text-decoration: none;
  position: relative;
  -webkit-filter: drop-shadow(10px 10px 10px #1979ff);
  filter: drop-shadow(10px 10px 10px #1979ff);
  &:before {
    -webkit-transition: 0.4s all ease;
    transition: 0.4s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    color: #63A4FF;
    background-color: #fff;
    z-index:-2;
    border-radius: 40px;
  }
  &:hover, 
  &:focus-within {
    color: #63A4FF;
    -webkit-transition: 0.4s all ease;
    transition: 0.4s all ease;
    &:before {
      -webkit-transition: 0.4s all ease;
      transition: 0.4s all ease;
      left: 0;
      right: 0;
      opacity: 1;
      border-radius: 40px;
    }
  }
}


.fill {
  min-height: 1.5rem;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: 1.3rem;
  border: 1px solid #fff;
  border-radius: 40px;
  background-color: #fff;
  display: block;
  color: #63A4FF;
  font-family: $lato;
  // width: 150px;
  padding: 8px;
  text-align: center;
  outline: none;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 5%;
  // height: 45px;
  // align-items: center;
  align-self: center;
  -webkit-filter: drop-shadow(10px 10px 10px #1979ff);
  filter: drop-shadow(10px 10px 10px #1979ff);


    // align-self: flex-start;
    // grid-area: fbtn;
    // margin-top: 3%;
    // font-family: $lato;
    // text-transform: uppercase;
    // font-size: 1.3rem;
    // padding: 8px 16px;
    // background: $btn;
    // border: 2px solid transparent;
    // border-image: $btn;
    // border-image-slice: 1;
    // color: #fff;
}

.fill:active {
  transform: translateY(4px);
}

.logo {
  -webkit-filter: drop-shadow(10px 10px 10px #1979ff);
  filter: drop-shadow(10px 10px 10px #1979ff);
}

// .top-rect {
//     background: $br;
//     width: 100%;
//     z-index: 2;
//     position: absolute;
//     top: 100px;
//     left: 0;
//     overflow: hidden;
//     padding-top: 500px;
// }
  
// .top-rect:after {
//     content: "";
//     display: block;
//     background: rgba(0, 0, 0, 0.2);
//     height: 450px;
//     width: 9600px;
//     position: absolute;
//     z-index: 1;
//     bottom: -40%;
//     left: 50%;
//     margin-left: -4000px;
//     transform: rotate(-8deg);
// }

@keyframes enlorge {
0% {
    transform: scale(0.9);
}
50% {
    transform: scale(1.2);
}
100% {
    transform: scale(1);
  }
}
.enlorge-enter-active {
  animation: enlorge .4s;
}
.enlorge-leave-active {
  animation: enlorge .4s reverse;
}

@keyframes roll {
    from {
      opacity: 0;
      transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    }
  
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  
.roll-enter-active {
    animation: roll .9s;
}

@keyframes jello {
  from {
    transform: translate3d(0, 0, 0);
  }

  11% {
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }

  22% {
    transform: skewX(6.25deg) skewY(6.25deg);
  }

  33% {
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }

  44% {
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }

  55% {
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }

  66% {
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }

  77% {
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}

.jello {
  animation-name: jello;
  transform-origin: center;
}

.title {
  // background: $br;
  // background-clip: text;
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
  margin-top: 20%;
  grid-area: easy;
  align-self: center;
  // z-index: 100;
  // position: absolute;
  font-size: 4.5rem;
  color: white;
  font-family: $mon;
  text-shadow: 0 1px 0 #ccc, 
  0 2px 0 #c9c9c9,
  0 3px 0 #bbb,
  0 4px 0 #b9b9b9,
  0 5px 0 #aaa,
  0 6px 1px rgba(0,0,0,.1),
  0 0 5px rgba(0,0,0,.1),
  0 1px 3px rgba(0,0,0,.3),
  0 3px 5px rgba(0,0,0,.2),
  0 5px 10px rgba(0,0,0,.25),
  0 10px 10px rgba(0,0,0,.2),
  0 20px 20px rgba(0,0,0,.15);
// text-shadow: -10px 10px 0px #00e6e6,
//                  -20px 20px 0px #01cccc,
//                  -30px 30px 0px #00bdbd;
}


.center-title {
    display: grid;
    justify-content: center;
    grid-template-rows: 50px;
    grid-template-columns: repeat(2, 400px);
    grid-template-columns: fit-content(80%);
    grid-row-gap: 40%;
    grid-template-areas:
    "easy easy"
    "chart chart";
}

.bracket-logic {
  // background-image: url('images/bracket-logic.png');
  // background-position: center;
  // background-size: 400px;
  height: auto;
  width: 800px;
  -webkit-filter: invert(100%);
  filter: invert(100%);
  display: block;
  align-self: center;
  grid-area: chart;
  // z-index: 2;
  // position: absolute;
}
.socialaccount_providers {
    list-style-type: none;
}

.socialaccount_ballot {
    padding: 20px;
}

.secondaryAction {
    padding-top: 30px;
}

.deck {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.decks-info {
    // background: $bt;
    // background-clip: text;
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
    color: #fff;
    padding-top: 80px;
    font-size: 4.5rem;
    text-align: center;
    // color: #fff;
    font-family: $lato;
    padding-bottom: 10px;
    text-shadow: 0 1px 0 #ccc, 
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
    // text-shadow: 0 1px 0 #ccc, 
    // 0 2px 0 #c9c9c9,
    // 0 3px 0 #bbb,
    // 0 4px 0 #b9b9b9,
    // 0 5px 0 #aaa,
    // 0 6px 1px rgba(0,0,0,.1),
    // 0 0 5px rgba(0,0,0,.1),
    // 0 1px 3px rgba(0,0,0,.3),
    // 0 3px 5px rgba(0,0,0,.2),
    // 0 5px 10px rgba(0,0,0,.25),
    // // 0 10px 10px rgba(0,0,0,.2),
    // // 0 20px 20px rgba(0,0,0,.15);
}

// .starter {
//     padding-top: 20px;
//     font-family: $lato;
//     font-size: 2rem;
//     background: $bt;
//     background-clip: text;
//     -webkit-background-clip: text;
//     -webkit-text-fill-color: transparent;
//     padding-left: 9%;
// }

// .centerDeckInfo {
//     display: flex;
//     justify-content: center;
// }
.deckInfo {
    // z-index: 99;
    margin-top: 10%;
    // align-self: flex-start;
    // text-align: center;
    font-size: 2.5rem;
    color: #fff;
    width: 100%;
    // background: $bt;
    // background-clip: text;
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
    font-family: $lato;
    grid-area: header;
    position: relative;
    display: block;
}

.deckInfo:after {
    content: '';
    background: #fff;
    display: block;
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 0;
}


.or {
  background-image: url('//decidor.s3.amazonaws.com/OR_solid_white.png');
  background-size: 15%;
  background-repeat: no-repeat;
  background-position: center;
  // -webkit-filter: brightness(0%) invert(100%);
  // filter: brightness(0%) invert(100%);
}

// styling the cards
.cardImage {
    cursor: pointer;
    outline: none;
    max-height: 430px;
    max-width: 400px;
    // max-width: 260px;
    border: 2px solid #fff;
    border-radius: 10px;
    grid-area: img;
    // position: absolute;
    // z-index: 1;
    // position: relative;
}

.buttons-container {
    // max-width: 800px;
    margin-top: 2%;
    justify-content: center;
    display: grid;
    // grid-template-rows: 100px;
    grid-template-columns: repeat(2, 400px);
    grid-row-gap: 50px;
    grid-column-gap: 300px;
    grid-template-areas:
    "kyle kyle"
    "progbar progbar"
    "img img"
    "title title";
}

.this-or-that {
    // background: $br;
    // background-clip: text;
    // -webkit-text-fill-color: transparent;
    color: #fff;
    // font-size: 4rem;
    grid-area: kyle;
    text-align: center;
    // z-index: 100;
    // position: absolute;
    letter-spacing: 0.5px;
    font-family: $mon;
    font-size: 3rem;
    height: 3rem;
    margin: 0px 0px 0px 0px;
    // padding: 1em;
    -webkit-filter: drop-shadow(8px 8px 8px #1979ff);
    filter: drop-shadow(8px 8px 8px #1979ff);
}

.cardTitle {
    font-size: 1.5rem;
    // margin-top: 40px;
    font-family: $lato;
    align-self: flex-end;
    color: #fff;
    // color: #236087;
    padding-bottom: 10px;	
    text-shadow: 2px 2px 0px rgba(0,0,0,0.3);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
    grid-area: title;
    // margin: 0 auto;
}

// .cardContainer {
//   // background: hotpink;
//   // height: 570px;
//   // width: 440px;
//   // padding: 20px;
//   // border-radius: 50px;
// }

.progress {
  grid-area: progbar;
}
progress {
  width: 100%;
  margin-top: 20px;
  overflow: hidden;
  border: 1px solid #bbbbbb;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 2px 4px #1979ff;
  -moz-box-shadow: 0px 2px 4px #1979ff;
  box-shadow: 0px 2px 4px #1979ff;  
}
progress[value] {
  -webkit-appearance: none;
  appearance: none;
  background-color: white;
  color: #63A4FF;
  height: 10px;
}
progress[value]::-webkit-progress-bar {
  background-color: white;
  border-radius: 2px;
  color: #63A4FF;
  -webkit-transition : width 0.5s ease;
   -moz-transition : width 0.5s ease;
     -o-transition : width 0.5s ease;
        transition : width 0.5s ease;
}
progress::-webkit-progress-value {
  background-color: #63A4FF;
  -webkit-transition : width 0.5s ease;
  -moz-transition : width 0.5s ease;
    -o-transition : width 0.5s ease;
       transition : width 0.5s ease;
}

.footer {
  font-size: 1rem;
  color: white;
  font-family: $mon;
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  text-align: center;
}

.info-title {
  color: #fff;
  font-size: 3.5rem;
  text-align: center;
  letter-spacing: 0.5px;
  font-family: $mon;
  padding: 1em;
  -webkit-filter: drop-shadow(8px 8px 8px #1979ff);
  filter: drop-shadow(8px 8px 8px #1979ff);
}

.what-is {
  color: #fff;
  font-size: 2.5rem;
  text-align: center;
  letter-spacing: 0.5px;
  font-family: $mon;
  padding: .5em .5em 1em .5em;
  text-shadow: 4px 4px 8px #1979ff;
}

.whatis-text {
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: 0.5px;
  font-family: $mon;
  padding: 1em 10em 1em;
  text-shadow: 1px 1px 4px #1979ff;
  line-height: 150%;
  text-align: justify;
}

@media only screen and (max-width: 768px) {
    .container {
        display: flex;
        flex-wrap: wrap;
    }

    .ghost {
        padding: 4px 8px;
        margin-left: -3%;
    }

    .fill {
        padding: 4px 8px;
    }

    .decks-info {
        font-size: 3.5rem;
    }

    .title {
        padding-top: 50%;
        font-size: 1.5rem;
    }

    .info-title {
      font-size: 2.25rem;
    }

    .what-is {
      font-size: 1.75rem;
    }

    .whatis-text {
        padding: 25px;
        font-size: 1.25rem;
    }

    .deck-grid {
      grid-template-columns: 1fr;
    }
}

// mobile-portrait
@media only screen and (max-width: 415px) {

.page-title {
    font-size: 1rem;
    letter-spacing: 0.2px;
    padding: .5em;
}

.base-head {
  padding: 5px;
}

.logo-div {
  width: 100px;
  height: 100px;
  background: url(//decidor.s3.us-east-2.amazonaws.com/decidor_logo_no_text100.png) left top no-repeat;
  
}

.logo-div img {
  display: none
}

.fill {
  min-height: .8rem;
  letter-spacing: .5px;
  font-size: .7rem;
}

#how-decidor-works {
  min-width: 100px;
}

#decks-button {
  font-size: 1rem;
  min-width: 80px;
}

}
